---
import Navbar from "../components/Navbar.astro";
import { Image } from "astro:assets";
import { Carousel } from 'astro-carousel';
const HeroSectionImage = 'https://www.footshop.eu/blog/wp-content/uploads/2020/02/H22443-adidasOriginals_SS20_SUPERSTAR_LOOK2_8_11_FTW_FOCUS_2_1280x720px-584886.jpg';
const PreviewProductImage = 'https://placehold.co/50x50';
import axios from 'axios';
const response = await axios.get('http://localhost:2008/barang');
const product = response.data;
---

<Navbar/>
<section id="home-page">
    <div id="img" class="flex">
        <h1 class="absolute top-78 ml-7 text-6xl font-bold text-white">"Temukan Produk Terbaik,<br>Untuk Gaya Hidupmu"</h1>
        <h1 class="absolute top-110 ml-9 text-2xl font-semibold text-orange-200">Belanja mudah, cepat, dan aman <br>semua dalam satu tempat.</h1>
        <a href="#sepatu" class="absolute top-130 ml-7 text-2xl font-semibold text-white p-3">Belanja Sekarang <i class="ri-arrow-right-line"></i></a>
        <Image src={HeroSectionImage} alt="Template Image 1" width={1920} height={1080} />
    </div>
    <marquee behavior="" direction="" class="w-full p-5 flex items-center bg-orange-500 text-2xl font-bold text-white "> Diskon Gila-gilaan! Hemat sampai 70% - Buruan sebelum kehabisan!</marquee>
    <h1 class="text-center mt-8 text-orange-500 font-bold text-3xl mb-1">Diskon Gila-Gilaan!</h1>
    <p class="text-center text-gray-500">Check Out Sekarang!</p>
    <div id="list-product" class="grid grid-cols-4 mt-8 mb-5">
        {product.map(barang => (
            <div id={barang.id} class="w-76 p-2 border-2 mx-auto rounded-md hover:scale-95 transition-all border-gray-300 flex">
                <Image src={barang.image_url} class={'rounded-md'} alt="Template Image 2" width={100} height={100} />
                <div class="flex flex-col">
                    <p class="ml-2 text-1xl font-bold">{barang.nama}</p>
                    <h1 class="ml-2">{barang.harga} $</h1>
                    <p class="ml-2 text-sm">stok tersedia : {barang.stok}</p>
                    <a href={barang.link} class="underline ml-2 text-sm mt-2">View all</a>
                </div>
            </div>
        ))}
    </div>
</section>

<section id="product">
    
</section>